* {
    box-sizing: border-box;
}

body{
    background-color: #eef9bf;
    
}


    




.titulo-jogo{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
    height: 103px;
    width: 100%;
    align-items: flex-end;
   
}

h1{
    color:#75B79E;
}

.conteudo{
    display:flex;
    width: 872px;
    height: 350px;
    
    
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;


}




.carta{
    
    height: 146px;
    width: 117px;
    position: relative;
    
    transform-style: preserve-3d;
    transition: all 0.5s;
    
}

.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
  

}

.front-face{
    
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(180deg);
}

.back-face{
    background-image: url('./Imagens/back.png');
    background-size: 100px 100px;   
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    
}



.virar-carta {
    transform: rotateY(180deg);
}


@media (max-width: 335px){

 

    .conteudo{
        width: 117px;
        
    }

    h1{
       margin-left: 50px;
       font-size: 36px; 
        
    }

   .titulo-jogo{
    display: flex;
    justify-content: center;
    
    
    
   }
    

    .carta{
        margin-bottom: 34px;
    }

    .game{
        margin-left: 65px;
    }
}